@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

$font-light: "Work Sans", sans-serif;
$font-bold: "Work Sans", sans-serif bold;

$color-navy: #192431;
$color-yellow: #fde74c;
